# Main exports.
export PATH="$HOME/.local/bin:$HOME/go/bin:$PATH"
export EDITOR=~/.local/bin/nvim.appimage
export PROMPT_EOL_MARK=""

#export QT_SCALE_FACTOR=1
#export QT_QPA_PLATFORM=xcb
export QT_QPA_PLATFORM=wayland
#export QT_QPA_PLATFORMTHEME=qt5ct

export CLUTTER_BACKEND=wayland

#export SDL_VIDEODRIVER=x11
export SDL_VIDEODRIVER=wayland

#export WINIT_UNIX_BACKEND=x11

# --files: List files that would be searched but do not search
# --no-ignore: Do not respect .gitignore, etc...
# --hidden: Search hidden files and folders
# --follow: Follow symlinks
# --glob: Additional conditions for search (in this case ignore everything in the .git/ folder)
export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow --glob "!.git/*"'

# Highlighting inside manpages and elsewhere.
export LESS_TERMCAP_mb=$'\e[1;31m'          # start blinking
export LESS_TERMCAP_md=$'\e[1;34m'          # start bold mode
export LESS_TERMCAP_me=$'\e[0m'             # end all mode
export LESS_TERMCAP_so=$'\e[38;5;215m'      # start standout mode
export LESS_TERMCAP_se=$'\e[0m'             # end standout mode
export LESS_TERMCAP_us=$'\e[4;35m'          # start underline
export LESS_TERMCAP_ue=$'\e[0m'             # end underline

export DOCKER_HOST=unix://$XDG_RUNTIME_DIR/podman/podman.sock
